* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  
  
  .heading_check {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
 
  .input_check {
    padding: 8px;
    margin-bottom: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%; 
    box-sizing: border-box; 
  }
  
  .butt_check_sub {
    padding: 8px 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
  }
  
  .butt_check_sub:hover {
    background-color: #0056b3;
  }
  
  .butt_check_sub12
  {
    padding: 8px 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    width: 100%;
  }
