.modal-overlay12 {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  backdrop-filter: blur(7px);
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-content181 {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  max-width: 950px;
  width: 90%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  color: #333;
  font-family: Arial, sans-serif;
  outline: none;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 95vh;
}

.headingh1 {
  margin-top: 0;
  font-size: 30px;
  font-weight: 500;
  color: #f37254;
  text-align: center;
}

.privacy-policy-content {
  flex-grow: 1;
  overflow-y: auto;
  margin: 0px 0;
  line-height: 1.6;
}

.font-weight600 {
  font-weight: 600;
}

.close12 {
  background-color: #f37254;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 4px;
  text-align: center;
}

.close12:hover {
  background-color: #d9603a;
}

.closebtn {
  text-align: center;
  margin-top: 20px;
}

@media (max-width: 767px) {
  .modal-content181{
    width: 95%;
    padding: 10px;
  } 
  
  .privacy-policy-content {
    font-size: 14px;
  flex-grow: 1;
  overflow-y: auto;
  margin: 0px 0;
  line-height: 1.4;
  }
  .close12 {
    background-color: #f37254;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 4px;
    text-align: center;
  }
  .font-weight600 {
    font-weight: 600;
  font-size: 17px;
  }
  .headingh1 {
    margin-top: 0;
    font-size: 30px;
    font-weight: 500;
    font-size: 21px;
    color: #f37254;
    text-align: center;
}
}
@media (min-width: 768px) and (max-width: 1024px){
  .modal-body01 {
    flex-grow: 1;
    overflow-y: auto;
    margin: 0px 0;
    line-height: 1.6;
}
}