Terms&Conditions

.terms-popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.terms-popup {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  max-width: 950px;
  width: 90%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  color: #333;
  font-family: Arial, sans-serif;
  outline: none; 
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 95vh;
}

.terms-popup h2 {
  margin-top: 0;
  font-size: 24px;
  color: #f37254;
  text-align: center;
}

.terms-content {
  text-align: left;
  max-height: 400px;
  overflow-y: auto;
  margin: 5px 0;
  line-height: 1.6;
}

.subscription1244 {
  font-weight: bold;
  color: #444;
}

.close-button {
  display: block;
  background-color: #f37254;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 4px;
  text-align: center;
  margin: 0 auto;
}

.close-button:hover {
  background-color: #d9603a;
}

